.recentDoctorsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  margin: 2rem;
  padding: 1.5rem;
  border-radius: 15px;
  gap: 0.5rem;
}
.recentDocorsContent {
  width: 100%;
  border-radius: 15px;
}
.recentDoctorsLine1 {
  background: #c4c4c440;
  text-align: left;
}
.recentDoctorsContent th,
.recentDoctorsContent td {
  padding: 18px;
}
.recentDoctorsContent  tr:nth-child(even) {
  background-color: #f0f0f09e;
}
