.registerContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 3rem;
    gap: 1.5rem;
  }
  .registerContainer h1 {
    font-size: 50px;
    font-weight: 900;
    text-align: left;
    color: #00000080;
  }
  .registerContainer h3 {
    font-size: 37px;
    font-weight: 900;
    text-align: left;
    color: #00000080;
  }
  .registerContainer p {
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    color: #00000080;
    width: 45%;
  }

  .registerInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
  }
  .twoInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .twoInputs input {
    padding: 1rem 32rem 1rem 2rem;
    border-radius: 7px;
    border: 8px solid #9e9e9e;
  }
  
  .threeInputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .threeInputs input {
    padding: 1rem 16.1rem 1rem 2rem;
    border-radius: 10px;
    border: 8px solid #9e9e9e;
  }
  .threeInputs select {
    padding: 1rem 16.1rem 1rem 2rem;
    border-radius: 10px;
    border: 8px solid #9e9e9e;
  
  }

.placeholder {
    font-size: 20px;
    opacity: 80%;
  }
  .oneInput {
    border-radius: 10px;
    border: 8px solid #9e9e9e;
    padding: 0.8rem 80.5rem 7rem 1.5rem;
  }
  
  .registerBtn {
    align-self: center;
    padding: 1rem 4.5rem;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(68.08deg, #52a3c6 9.64%, #758d93 92.49%);
  }


  